<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Order</title>
<!-- include the w3.css stylesheet -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
	<!-- Header da mettere ovunque -->
	<div class="w3-bar w3-deep-orange w3-padding w3-card">
		<a class="w3-bar-item w3-button w3-hover-white"
			href="/product/all">Beije - Shoes First</a>
		<div class="w3-right">

					<a href="/VonNeumannSpring/db3/shopping_cart"
						class="w3-button w3-deep-orange w3-hover-black"> <i
						class="fa fa-shopping-cart"></i> Shopping Cart
					</a>
					<a class="w3-bar-item w3-button w3-hover-white"
						href="/user">User page</a>
					<a class="w3-bar-item w3-button w3-hover-white"
						href="/signout">Sign-Out</a>
		</div>
	</div>
	<!-- Header da mettere ovunque -->
        
		<%if (orders) {%>
        <div class="w3-container">
		<h3>Your orders:</h3>
        
		<table class="w3-table-all w3-hoverable">
    		<thead>
      			<tr class="w3-deep-orange">
			        <th>Transaction</th>
			        <th>Transaction date</th>
			        <th>Payment status</th>
			        <th>Address name</th>
			        <th>Street address</th>
			        <th>Status</th>
			        <th>Total price</th>
			        <th>Created at</th>
			        <th></th>
      			</tr>
   			</thead>
			   <% orders.forEach(order => {%>
      			<tr>
			        <td><%=order.transaction%></td>
			        <td><%=order.transaction_date%></td>
			        <td><%=order.payment_status%></td>
			        <td><%=order.label%></td>
			        <td><%=order.street_address%></td>
			        <td><%=order.status%></td>
			        <td><%=order.total_price%></td>
			        <td><%=order.created_at%></td>
			        <td><a href="/user/order_details/<%= order.id %>"
					class="w3-button w3-block w3-deep-orange">Open Details</a></td>
      			</tr>
				  <%})%>
  		</table>
  		
        </div>
		<%} else {%>
        <p class="w3-container">You have not placed any orders yet.</p>
		<% } %>

</body>
</html>