<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Order details</title>
<!-- include the w3.css stylesheet -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
	<!-- Header da mettere ovunque -->
	<div class="w3-bar w3-deep-orange w3-padding w3-card">
		<a class="w3-bar-item w3-button w3-hover-white"
			href="/product/all">Beije - Shoes First</a>
		<div class="w3-right">
					<a href="/VonNeumannSpring/db3/shopping_cart"
						class="w3-button w3-deep-orange w3-hover-black"> <i
						class="fa fa-shopping-cart"></i> Shopping Cart
					</a>
					<a class="w3-bar-item w3-button w3-hover-white"
						href="/user">User page</a>
					<a class="w3-bar-item w3-button w3-hover-white"
						href="/signout">Sign-Out</a>
		</div>
	</div>
	<!-- Header da mettere ovunque -->
	
	    <div class="w3-container">
        <h3>Order details</h3>

		<table class="w3-table-all w3-hoverable">
    		<thead>
      			<tr class="w3-deep-orange">
			        <th>Quantity</th>
			        <th>Price</th>
			        <th>Size</th>
			        <th>Name</th>
			        <th>Color</th>
					<th>Status</th>
      			</tr>
   			</thead>
			   <% items.forEach(item => {%>
      			<tr>
			        <td><%=item.quantity%></td>
			        <td><%=item.price%></td>
			        <td><%=item.size%></td>
			        <td><%=item.name%></td>
			        <td><%=item.color%></td>
					<td><%=item.status%></td>
      			</tr>
				<%})%>
  		</table>

        </div>
	
</body>
</html>