<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Shopping Cart</title>
<!-- include the w3.css stylesheet -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
	<!-- Header da mettere ovunque -->
	<div class="w3-bar w3-deep-orange w3-padding w3-card">
		<a class="w3-bar-item w3-button w3-hover-white"
			href="/product/all">Beije - Shoes First</a>
		<div class="w3-right">
				<%if (!user) {%>
					<a class="w3-bar-item w3-button w3-hover-white"
						href="/signin">Sign-In</a>
					<a class="w3-bar-item w3-button w3-hover-white"
						href="/signup">Sign-Up</a>
						<%} else {%>
					<a class="w3-bar-item w3-button w3-hover-white"
						href="/user">User page</a>
					<a class="w3-bar-item w3-button w3-hover-white"
						href="/signout">Sign-Out</a>
						<%}%>
		</div>
	</div>
	<!-- Header da mettere ovunque -->
	<div><h1> &nbsp; Shopping Cart</h1></div>
        
		<%if (cartItems.length > 0) {%>
        <div class="w3-container">
			<% cartItems.forEach(item => {%>
            <c:forEach items="${shoppingCart.shoppingCartItem}" var="item" varStatus="loop">
                <div class="w3-card-4 w3-margin">
                    <div class="w3-container">
                    
                        <h3> <%=item.brand%> - <%=item.name%></h3>
                        <p> Id: <%=item.id%></p> 
                        <p> Size: <%=item.size%></p> 
                        <p> Price per unit: <%=item.selling_price%></p> 
                        <p> Quantity: <%=item.quantity%></p>
                        <p> Total Price: <%=item.quantity*item.selling_price%></p> 
                        <a class="w3-bar-item w3-button w3-red w3-hover-black w3-margin"
			href="/shopping_cart/remove_cart_item/<%=item.id%>">Remove Item</a>
                    </div>
                </div>
                 
			<%})%>
		        <a class="w3-bar-item w3-button w3-orange w3-hover-black w3-margin"
			href="/VonNeumannSpring/db3/order">Buy</a>
        </div>
	<%} else {%>
        <p class="w3-container">Your shopping cart is empty.</p>
	<%}%>
</body>
</html>