<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>WELCOME PAGE</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- Header da mettere ovunque -->

	<div class="w3-bar w3-deep-orange w3-padding w3-card">
		<a class="w3-bar-item w3-button w3-hover-white"
			href="/product/all">Beije - Shoes First</a>
		<div class="w3-right">
			<a href="/VonNeumannSpring/db3/shopping_cart"
				class="w3-button w3-deep-orange w3-hover-black"> 
				<i class="fa fa-shopping-cart"></i> Shopping Cart
			</a>
					<a class="w3-bar-item w3-button w3-hover-white"
						href="/signout">Sign-Out</a>
		</div>
	</div>
	<!-- Header da mettere ovunque -->
  <div class="w3-container">
    <h2>Hi <%= user.name %>!</h2>
  </div>
  <br>
  <div class="w3-container">
    <table class="w3-table-all">
      <thead>
        <tr class="w3-deep-orange">
          <th>Name</th>
          <th>Surname</th>
          <th>Telephone</th>
          <th>E-mail</th>
          <th>Birth Date</th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <td align="left"><%= user.name %></td>
              <td align="left"><%= user.surname %></td>
              <td align="left"><%= user.telephone %></td>
              <td align="left"><%= user.email %></td>
              <td align="left"><%= user.birth_date %></td>
            </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="w3-container">
    <h4>Settings:</h4>
    <br>
    <form action="/edit_user" method="get">
      <button class="w3-button w3-orange w3-hover-black">Edit User</button>
    </form>
    <br>
    <form action="/user/my_orders" method="get">
      <button class="w3-button w3-orange w3-hover-black">My Orders</button>
    </form>
    <br>
    <form action="/user/my_addresses" method="get">
      <button class="w3-button w3-orange w3-hover-black">My Addresses</button>
    </form>
  </div>
</body>
</html>