<%- include('components/header', { title: 'Cart' }) %>

<div class="container">
    <div class="d-flex  py-3">
      <h3>Shopping Cart</h3>
    </div>
  
    <table class="table table-loght">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Type</th>
          <th scope="col">Color</th>
          <th scope="col">Size</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(function(p) { %>
          <tr>
            <td><%= p.name %></td>
            <td><%= p.description_it %></td>
            <td><%= p.type %></td>
            <td><%= p.color %></td>
            <td><%= p.size%></td>
            <td><%= p.quantity %></td>
            <td><%= p.listed_price * p.quantity %></td>
            <td><a href="./delete?id=<%= p.id %>">Delete</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
   
    <div class="container">
      <div class="d-flex py-3">
        <h3>Total Price: <%= total %> €</h3>
        
        <% if (total !== 0) { %>
          <a class="mx-3 btn-primary" href="/checkout">Checkout</a>
        <% } %>
     
      </div>
    </div>
    
  
  </body>
  </html>